
.wrapper {
    background-color: rgb(176, 250, 101);
    text-align: center;
    width: 450px;
    height: 500px;
    margin: auto;
    border: 2px solid rgb(27, 77, 7);
   color: rgba(27, 77, 7, 0.76);
   font-family:'Indie Flower', cursive;
    
   
}
.container {
    margin: auto;
    width: 400px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 33.39%) ;
    grid-template-rows: repeat(3, 100px);
 
}

div {
    border: 1px solid white;
}

.cell {
    font-size: 80px;
    color: rgb(27, 77, 7);

}

.cell:hover {
    background-color: white;
}


.wrapper h2 {
    margin-bottom: 0;

}

button {
    font-size: 20px;
    background-color: pink;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
}

button:hover {
 opacity: .6;
 cursor: pointer;
}




